#
# Requirements for running {{ cookiecutter.repo_name }}
#

Django==1.7.8  # rq.filter: >=1.7,<1.8

# Load database config from environment
dj-database-url==0.3.0

# Better templates
MarkupSafe==0.23
Jinja2==2.7.3
jingo==0.7
